<div class="container">
    <form action="/books" method="post" enctype="multipart/form-data">
        <%- include("./../partials/form_fields.ejs")%>
        <div class="form-row form-row-end btn-row">
        <a href="/books/index" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>

