<header>
    <nav class="navbar-header">
        <a href="/" class="nav-title">My Library</a>
        <ul>
            <a href="/books/index"><li>Books</li></a>
            <a href="/authors/index"><li>Authors</li></a>
            <a href="/authors/new"><li>Add new author</li></a>
            <a href="/books/new"><li>Add new book</li></a>
        </ul>
    </nav>
</header>